.b-sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ebebeb;
}

.b-sidebar__header {
  flex-grow: 1;
}

.b-sidebar__item {
  padding: 15px;
  cursor: pointer;
}
