.b-accounts {
  display: flex;
  flex-direction: column;
}

.b-accounts__header {
  transition: background 500ms;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;

  > .b-icon {
    font-size: 1.2em;
    margin-right: 10px;
  }

  &:hover {
    background: #f5f5f5;
  }
}

.b-accounts__body {
  flex-grow: 1;
}

.b-accounts__footer {
  padding: 15px;
}

.b-accounts__add {
  display: inline-block;
}
