.b-form {
  display: flex;
  flex-direction: column;
}

.b-form__alert {
  font-size: 0.8em;
  margin-bottom: 15px;
  color: #4979a3;
  font-weight: bold;
  padding: 0 3px;
}

.b-form__alert--error {
  color: #d45a58;
}

.b-form__body {
  flex-grow: 1;
}
