.b-sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.b-sidebar__header {
  transition: background 500ms;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;

  &:hover {
    background: darken(#fff, 4%);
  }
}

.b-sidebar__avatar {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin-left: auto;
}


.b-sidebar__body {
  margin-top: 10px;
}

.b-sidebar__devider {
  border-bottom: 1px solid #f5f5f5;
  margin: 10px 0;
}

.b-sidebar__item {
  transition: background 500ms;
  padding: 5px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: darken(#fff, 4%);
  }

  .b-icon {
    font-size: 1.4em;
    width: 25px;
  }
}
