.b-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.b-widget__label {
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;

  > .b-icon {
    font-size: 1.2em;
    margin-right: 10px;
  }

  &:hover {
    background: #f5f5f5;
  }
}

.b-widget__body {
  flex-grow: 1;
}
